<div style='width:75%; margin:0 auto'>
<h1> Sign Up Here </h1>

<form role="form">

  <div class="form-group">
    <label for="fullName">Full-Name:</label>
    <input type="text" class="form-control" id="fullName" ng-model='fullName'>
  </div>

  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" ng-model='email'>
  </div>

  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" ng-model='password'>
  </div>

  <button style='float:right'ng-click='checkSignUp()' type="button" class="btn btn-primary">Submit</button>
  <div style="clear:both"></div>
</form>
</div>

