#main-search {
  width: 575px;
  height: 47px;
}


#searchButton {
  height:47px;
  width:60px;
}

.greetings {
  text-align: center;
}

.actualNav {
  margin-right: 70px !important;
}

form.inputForm {
  text-align: center;
  margin-top:35px;
}

.spinner {
  display: block;
  margin: 0 auto
}

.image-wrapper {
  width:98%;
  background-color: black;
  margin: 0 auto;
}

.showImages {
  display: inline-block;
  border: 1px solid black
}

.image-url {
  width:320px;
  height:240px;
}

