#main-search {
  width: 575px;
  height: 47px;
}


#searchButton {
  height:47px;
  width:60px;
}

.greetings {
  text-align: center;
}

.actualNav {
  margin-right: 70px !important;
}

form.inputForm {
  text-align: center;
  margin-top:35px;
}

